<form (ngSubmit)="login()">
  <label for="login">логин</label>
  <input [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" id="login" type="text"/>
  <p *ngIf="user.username===''" class="alert-warning">введите логин</p>
  <label for="password">пароль</label>
  <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" id="password" type="password"/>
  <p *ngIf="user.password===''" class="alert-warning">введите пароль</p>
  <input [disabled]="!isValid()" type="submit" value="войти"/>
</form>
