<nav>
  <a *ngIf=" !hasAuth" href="/login">войти</a>
  <a *ngIf=" !hasAuth" href="/register">зарегистрироваться(для менторов)</a>
  <a *ngIf="hasAdminRole()" href="/programming-languages/create">Добавить язык программирования</a>
  <a *ngIf="hasAdminRole()" href="/mentors-tickets">заявки менторов на регистрацию</a>
  <a *ngIf="hasAdminRole()" href="/stats">получить статистику прохождения практики</a>
  <a *ngIf="hasAdminRole()" href="/students">список студентов</a>
  <a *ngIf="hasAdminRole()" href="/students/create">добавить нового студента</a>
  <a *ngIf="hasAdminRole()" href="/mentors">список менторов</a>
  <a *ngIf="hasAdminRole()" href="/mentors/create">добавить нового ментора</a>
  <a *ngIf="hasAuth" href="/practice-tickets">список прохождения практики</a>
  <a *ngIf="hasAdminRole()" href="/practice-tickets/create">создать новую заявку на прохождение практики</a>
  <button (click)="logout()" *ngIf="hasAuth">выйти</button>
</nav>
