<form (ngSubmit)="submitPracticeTicket()" *ngIf="practiceTicket !== null">
  <label class="form-label" for="student">Студент</label>
  <select [(ngModel)]="practiceTicket.student.id" [disabled]="isUpdate" [ngModelOptions]="{standalone: true}"
          id="student">
    <option *ngFor="let student of students "
            value="{{student.id}}">{{student.fullName + " " + student.studyCourse + "курс " + student.studyGroup + " группа"}}</option>
  </select>
  <p *ngIf="!practiceTicket.student.id" class="alert-warning">Это поле обязательно к заполнению</p>

  <label class="form-label" for="mentor">Ментор</label>
  <select [(ngModel)]="practiceTicket.mentor.id" [disabled]="isUpdate" [ngModelOptions]="{standalone: true}"
          id="mentor">
    <option *ngFor="let mentor of mentors "
            value="{{mentor.id}}">{{mentor.fullName + " " + mentor.jobName}}</option>
  </select>
  <p *ngIf="!practiceTicket.mentor.id" class="alert-warning">Это поле обязательно для заполнения</p>
  <label class="form-label" for="taskName">Название практического задания</label>
  <input [(ngModel)]="practiceTicket.practiceTask.taskName" [ngModelOptions]="{standalone: true}" id="taskName"
         type="text"/>


  <label class="form-label" for="taskDescription">Описание практического задания</label>
  <textarea [(ngModel)]="practiceTicket.practiceTask.taskText" [ngModelOptions]="{standalone: true}"
            id="taskDescription" type="text">
  </textarea>

  <label class="form-label" for="progLanguage">Язык программирования</label>
  <select [(ngModel)]="practiceTicket.programmingLanguage.id" [disabled]="isUpdate"
          [ngModelOptions]="{standalone: true}" id="progLanguage">
    <option *ngFor="let language of progLanguages " value="{{language.id}}">{{language.name}}</option>
  </select>

  <label class="form-label" for="beginDate">Дата начала практики</label>
  <input [(ngModel)]="practiceTicket.id.beginOfPractice" [disabled]="isUpdate" [ngModelOptions]="{standalone: true}"
         id="beginDate"
         type="date">
  <p *ngIf="!practiceTicket.id.beginOfPractice" class="alert-warning">Это поле обязательно для заполнения</p>
  <label class="form-label" for="endDate">Дата окончания практики</label>
  <input [(ngModel)]="practiceTicket.id.endOfPractice" [disabled]="isUpdate" [ngModelOptions]="{standalone: true}"
         id="endDate" type="date">
  <p *ngIf="!practiceTicket.id.endOfPractice" class="alert-warning">Это поле обязательно для заполнения</p>
  <p
    *ngIf="practiceTicket.id.endOfPractice!==undefined &&practiceTicket.id.beginOfPractice!==undefined && practiceTicket.id.beginOfPractice>practiceTicket.id.endOfPractice"
    class="alert-warning">дата окончания практики не может быть раньше даты начала практики</p>
  <div *ngIf="isUpdate">
    <label for="finalMark">финальная оценка за практику</label>
    <select [(ngModel)]="practiceTicket.finalMark" [ngModelOptions]="{standalone: true}" id="finalMark">
      <option *ngFor="let mark of marksValues">{{mark}}</option>
    </select>

    <label for="hireReccomend">Рекомендован к собеседованию</label>
    <input [(ngModel)]="practiceTicket.recommendToHire" [ngModelOptions]="{standalone: true}" id="hireReccomend"
           type="checkbox"/>
    <app-update-reviews [practiceTicket]="practiceTicket"></app-update-reviews>

    <label *ngIf="practiceTicket.finalMentorReview" for="finalReview">итоговое оценивание практики</label>
    <textarea *ngIf="practiceTicket.finalMentorReview" [(ngModel)]="practiceTicket.finalMentorReview.textReview"
              [ngModelOptions]="{standalone: true}" cols="50" id="finalReview"></textarea>
  </div>

  <input [disabled]="!isValid()" class="btn btn-primary" style="margin-top: 40px" type="submit" value="отправить">
</form>
