<div *ngIf="!isDeleted" class="ticket-div">
  <span class="label">Язык программирования:</span>
  <span>{{practiceTicket.programmingLanguage.name}}</span>
  <br/>
  <span class="label">ФИО студента:</span> <a
  href="/student;id={{practiceTicket.student.id}}">{{practiceTicket.student.fullName}}</a>
  <br/>
  <span class="label">ФИО ментора:</span> <a
  href="/mentor;id={{practiceTicket.mentor.id}}">{{practiceTicket.mentor.fullName}}</a>
  <br/>
  <span class="label">Начало прохождения практики:</span> <span
  *ngIf="practiceTicket.id.beginOfPractice">{{practiceTicket.id.beginOfPractice|date}}</span>
  <br/>
  <span class="label">Конец прохождения практики:</span> <span
  *ngIf="practiceTicket.id.endOfPractice">{{practiceTicket.id.endOfPractice|date}}</span>
  <br/>
  <span class="label">Название практического задания:</span> <span
  *ngIf="practiceTicket.practiceTask">{{practiceTicket.practiceTask.taskName}}</span>
  <br/>
  <span class="label">Описание практического задания:</span>
  <pre *ngIf="practiceTicket.practiceTask">{{practiceTicket.practiceTask.taskText}}</pre>
  <br/>
  <span class="label">Рекомендован к прохождению собеседования:</span>
  <span>{{practiceTicket.recommendToHire ? "Рекомендован" : "Не рекомендован"}}</span>
  <br/>
  <span class="label">Итоговая оценка прохождения практики:</span> <span>{{practiceTicket.finalMark}}</span>
  <br/>
  <span class="label">Еженедельные оценки работы студента ментором:</span>
  <div *ngIf="practiceTicket.weeklyMentorReviews">
    <div *ngFor="let weeklyReview of practiceTicket.weeklyMentorReviews; let i=index">
      <span>{{i + 1}} неделя:</span>
      <p>{{weeklyReview.textReview}}</p>
    </div>
  </div>

  <br/>
  <span class="label">Итоговая оценка работы студента ментором:</span>
  <p *ngIf="practiceTicket.finalMentorReview">{{practiceTicket.finalMentorReview.textReview}}</p>
  <br/>
  <div class="actionButtons">
    <a [routerLink]="['/practice-tickets/edit',{'beginOfPractice':practiceTicket.id.beginOfPractice,'endOfPractice':practiceTicket.id.endOfPractice,
    'studentId':practiceTicket.id.studentId,'mentorId':practiceTicket.id.mentorId,'programmingLanguageId':practiceTicket.id.programmingLanguageId}]"
       class="btn-primary">редактировать</a>
    <button (click)="delete()" class="btn-primary">удалить</button>
  </div>
</div>
