<div class="students-container">
  <div *ngFor="let student of students" class="student-div">
    <span>ФИО:</span>
    <span>{{student.fullName}}</span>
    <br/>
    <span>Контактные данные:</span> <span>{{student.contactData}}</span>
    <br/>
    <span>Курс:</span> <span>{{student.studyCourse}}</span>
    <br/>
    <span>Группа:</span> <span>{{student.studyGroup}}</span>
    <br/>
    <span>Результаты тестирования:</span> <span>{{student.testResult}}%</span>
    <div>
      <a class="link-primary" href="/students/edit;id={{student.id}}">edit</a>
    </div>
  </div>
</div>
